#main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#calculator{
    background-color: gray;
    height: 85vh;
    width: 55vh;
}

.screen {
    box-sizing: border-box;
    background-color: #66CC00;
    height: 40%;
    margin: 5%;
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: large;
    padding: 3%;
}

.button-grid {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
}

.row{
    display: flex;
    flex:1;
}

button{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-size: large;
}
